.transparent {
	opacity: 0.5;
}

svg {
	width: 200px;
	height: 200px;
	border: solid 1px #888888;
}
.wrap {
	display: flex;
	flex-direction: column;
	gap: 2%;
}
.wrapper {
	display: flex;
	flex-direction: row;
	gap: 2%;
}
.legend {
	display: flex;
	flex-direction: column;
	gap: 5%;
}
